@layout('layouts.main')


@section('title')
    404
@endsection

@section('style')
   {{ style('404') }} 
@endsection

@section('body')
 
<div id="notfound">
   <div class="notfound">
      <div class="notfound-404">
         <h1>Oops!</h1>
      </div>
      <h2>404 - Page not found</h2>
      <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
   
   </div>
</div>
@endsection

@section('script')
@endsection
